<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="main.css">
    <script src="main.js" defer></script>

    <title>Roland Tracker</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">

        <div class="navbar">
            <div class="navbar-left">
                <div class="navbar-hamb button">
                    <span class="material-icons">menu</span>
                </div>
                <div class="navbar-title">
                    RoTracker
                </div>
            </div>
            <div class="navbar-center"></div>
            <div class="navbar-right">
                <div class="button modal-trigger" tabindex="3">
                    <span class="material-icons">add</span>
    
                    <div class="modal hidden">
    
                    </div>
                    
                </div>
                <div class="button modal-trigger" id="settings-btn" tabindex="4">
                    <span class="material-icons">settings</span>
                    
                    <div class="modal hidden">
                    </div>
                    
                </div>
            </div>
        </div>
    
        <div class="sidebar">
            <a href="/tasks" tabindex="0">
                <div class="sidebar-item">
                    <div class="sidebar-icon">
                        <span class="material-icons">
                            list_alt
                        </span>
                    </div>
                    <div class="sidebar-link">
                        Tasks
                    </div>
                </div>
            </a>

            <a href="/ideas" tabindex="1">
                <div class="sidebar-item">
                    <div class="sidebar-icon">
                        <span class="material-icons">
                            note
                        </span>
                    </div>
                    <div class="sidebar-link">
                        Ideas
                    </div>
                </div>
            </a>
    
            <a href="/projects" tabindex="2">
                <div class="sidebar-item">
                    <div class="sidebar-icon">
                        <span class="material-icons">
                            dashboard
                        </span>
                    </div>
                    <div class="sidebar-link">
                        Projects
                    </div>
                </div>
            </a>
            
        </div>
        
        <div class="main">
            
            <div class="dynamic">
                <div class="card">
                </div>
                <div class="card">
                    
                </div>
                <div class="card">
                    
                </div>
                <div class="card">
                    
                </div>
                <div class="card">
                    
                </div>
                <div class="card">
                    
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>